/* Set all parents to full height */
html, body,
.container,
.cbp-fbscroller,
.cbp-fbscroller section {
	height: 100%;
}




/* The nav is fixed on the right side  and we center it by translating it 50%
(we don't know it's height so we can't use the negative margin trick) */
.cbp-fbscroller > nav {
	position: fixed;
	z-index: 9999;
	right: 100px;
	top: 50%;
	width: 26px;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.cbp-fbscroller > nav a {
	display: block;
	position: relative;
	z-index: 9999;
	color: transparent;
	width: 26px;
	height: 26px;
	outline: none;
	margin: 25px 0;
	border-radius: 50%;
	border: 4px solid #fff;
}

.no-touch .cbp-fbscroller > nav a:hover {
	background: rgba(255,255,255,0.6);
}

.cbp-fbscroller > nav a.cbp-fbcurrent {
	background: #fff;
}

/* background-attachment does the trick */
.cbp-fbscroller section {
	position: relative;
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
}

.no-touch .cbp-fbscroller section {
	background-attachment: fixed;
}

.section-content {
position: absolute;
top: 50%;
left: 50%;
transform: translateX(-50%) translateY(-50%);
}


#fbsection1 {
background-image: url(../images/1.jpg);
padding-left: 400px;
padding-right: 400px;
padding-top: 1px;
}



#fbsection2 {
	list-style: none;
	background-image: url(../images/2.jpg);
}

#etapes {
	    font-family: Palanquin Dark;
}



#fbsection3 {
	list-style: none;
	background: #BD4A36;
	}

#prerequis {
font-family: Palanquin Dark;
list-style: none;
}



#fbsection4 {
	background-image: url(../images/4.jpg);
	list-style: none;

}

#quefaire {

	}

	#fbsection5 {
		background-image: url(../images/5.jpg);
		background-attachment: scroll;
background-size: cover;
background-position: center;


	}

	#preparation li {
	    height: 200px;
	    width: 400px;
	    border-radius: 0px;
	    color: #fff;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	    margin: 70px;
			text-align: left;

	}

	#preparation {
	  display: flex;
	  flex-wrap: wrap;
	  justify-content : center;
	  text-align : center;
	 font-size: 30px;
	 background: rgba(0,0,0,0.2);
	 text-align: left;
	 padding-bottom: 30px;
	}




#fbsection6 {
	background: #BD4A36;

}

	ol {
		list-style-type: none;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		text-align: justify;
	}




#intensite li {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;
		padding-right: 20px;
		list-style: none;
}

#intensite {
  display: flex;
  flex-wrap: wrap;
  justify-content : center;
  text-align : center;
 font-size: 30px;
 padding-right: 20px;

}





#fbsection7 {
	background-image: url(../images/6.jpg);
list-style-type: none;

}

.icon {
background: rgba(0,0,0,0.2);
padding : 22px;
list-style-type: none;
padding-top: 20px;
}

li img {
  width : 60%;
}

 nav li {
     display: inline-block;
     text-align: center;
		 list-style-type: none;

 }


 .icon-arrow-left:before {
 	position: absolute;
 	top: 0;
 	width: 100%;
 	height: 100%;
 	speak: none;
 	font-style: normal;
 	font-weight: normal;
 	line-height: 2;
 	text-align: center;
 	-webkit-font-smoothing: antialiased;
 	text-indent: 8000px;
 	padding-left: 8px;

 }



#fbsection8 {
background: #F0F0F0;
display: block;
padding-top: 150px;
padding-left: 300px;
color: #000;
}
